html {
     scroll-behavior: smooth;
}

body::-webkit-scrollbar {
     display: none;
}

.toast-hidden {
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.5s ease, visibility 0.5s ease;
}

.poppins {
     font-family: "Poppins", sans-serif;
}

.karla {
     font-family: "Karla", sans-serif;
}

.mochiy {
     font-family: "Mochiy Pop One", sans-serif;
}
