html {
     scroll-behavior: smooth;
}

body::-webkit-scrollbar {
     display: none;
}

.toast-hidden {
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loading {
     display: none;
     color: white;
     font-size: 0.875rem;
}
